[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
jinja2 = "*"
json-schema-for-humans = "*"
xmlschema = "*"
htmlmin = "*"
rjsmin = "*"
rcssmin = "*"
pillow = "*"
jsonschema = "*"
markdown2 = "*"
markdown = "*"
ndicts = "*"
json-minify = "*"

[requires]
python_version = "3.10"
