[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
json-schema-for-humans = "*"
xmlschema = "*"
htmlmin = "*"
rjsmin = "*"
rcssmin = "*"
pillow = "*"
jsonschema = "*"
markdown2 = "*"
markdown = "==3.3.7"
ndicts = "*"
json-minify = "*"
beautifulsoup4 = "*"
pyyaml = "*"
libsass = "*"

[dev-packages]
pipenv-setup = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.10"
