name: Build Docs

on:
  push:
    branches: [ master ]
    paths:
      - docs/**
      - "**/*_schema.json"

  workflow_dispatch:
    inputs:
      relative_path:
        description: "Path to set for relative files, set to a blank string for local builds"
        required: false
        default: "/menagerie/"

env:
  URL_PREFIX: ${{ github.events.inputs.relative_path }}

jobs:

  build:

    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - run: cd docs/
      
      - run: cp -r ../menagerie/schemas/ content/pages/ 

      - run: mkdir .venv

      - if: github.ref == 'refs/heads/master'
        run: |
          echo "URL_PREFIX=/menagerie/" >> $GITHUB_ENV

      - name: Cache Requirements
        uses: actions/cache@v2
        with:
          path: .venv
          key: ${{ runner.os }}-pipenv-${{ hashFiles('Pipfile.lock') }}

      - name: Install Requirements
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: install --dev

      - name: Install Self
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run pip install --editable .

      - name: Generate Docs
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run python -m menagerie generate

      - name: Upload Artifact
        uses: actions/upload-artifact@v3.0.0
        with:
          name: Menagerie-Docs
          path: out/

      - name: Deploy To Pages
        if: success() && github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: gh-pages
          folder: out/
      
